
BODY {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0px 0px 0px 0px;
}

// get rid of ugly empty folder nav butons
.vanished { 
	width: 1px; 
}

// get rid of ugly empty toolbar nav butons
.gbc_ToolBarWidget .mt-tab-previous, .gbc_ToolBarWidget .mt-tab-next {
	width: 20px; 
	&.vanished { 
		width: 1px; 
	}
}

// get rid of bookmarks option
.gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}

.gbc_style_center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-position: center !important;
}


.gbc_style_formborder {
	margin: 10px;
	box-shadow: 4px 4px 6px $theme-primary-emphasis-background-color;
	border-radius: 2.4px;
}
